.wrapper {
    min-width: 400px;
    max-width: 400px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    bottom: 0px;
    left:500px;
  }


  .avatar1 {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    background: url(../images/gpt.png) no-repeat center / cover;
    margin-right: 20px;
  }

  .wrapper textarea {
    outline: none;
    border-color: transparent;
    resize: none;
    background: #f5f5f5;
    border-radius: 4px;
    flex: 1;
    padding: 10px;
    transition: all 0.5s;
    height: 30px;
  }

  .wrapper textarea:focus {
    border-color: #e4e4e4;
    background: #fff;
    height: 50px;
  }

  .wrapper button {
    background: #00aeec;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    width: 70px;
    cursor: pointer;
  }

  .wrapper .total {
    margin-right: 80px;
    color: #999;
    margin-top: 5px;
    opacity: 0;
    transition: all 0.5s;
  }

  .list1 {
    min-width: 400px;
    max-width: 400px;
    position: relative;
    margin: auto;
    display: flex;
    bottom: 10px;
    left: 500px;
    /* background: url(../images/wite.png) no-repeat;  */
    background: rgba(229, 232, 237, 0.8);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column-reverse;
    overflow-y: auto;
  }

  .list1 .item {
    width: 100%;
    display: flex;
  }

  .list1 .item .info {
    flex: 1;
    border-bottom: 1px dashed #e4e4e4;
    padding-bottom: 10px;
  }

  .list1 .item p {
    margin: 0;
  }

  .list1 .item .name {
    color: #FB7299;
    font-size: 14px;
    font-weight: bold;
  }

  .list1 .item .text1 {
    color: #0466fa;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
  }

  .list1 .item .time {
    color: #999;
    font-size: 12px;
  }

  .gpt {
    color: rgb(14, 225, 77);
    font-size: 18px;
    font-weight: bold;
    text-align:left;
  }
  