<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MuSearcher</title>
	<link rel="stylesheet" href="../stylesheets/style.css">
	<link rel="stylesheet" href="../stylesheets/music.css">
</head>

<body>
	<header>
		<div class="container">
			<div class="logo">
				<a class="logo-item" href="index.html">
					<h2>MuSearcher</h2>
				</a>
			</div>
			<div class="avatar">
				<img class="avatar-img" src="images/avatar-01.jpg">
			</div>
		</div>
	</header>
	<header1>
		<div class="back" href="#">
			<a href="index.html"><img src="./images/返回.svg"></a>
		</div>
	</header1>
	<section class="slider">
		<div class="cover">
			<img src="./imgs/cover.jpg">
			<a class="name" href="#">如果你在我身边</a>
			<a class="singer" href="#">温岚</a>
		</div>
	</section>
	<section class="comments">
		<h1>歌曲评论</h1>
		<span data-res-id="1481929839" data-res-type="18" data-res-action="play" data-res-from="13" data-res-data="2983726621" class="ply ">&nbsp;</span>
	</section>
	<section class="bottom">
    <h2>Wecome to contact us</h2>
  </section>
	<footer>
    <div class="btn-audio">
      <div class="btn-cover">
        <img src="./images/cover.jpg">
      </div>
      <div style="margin-left:6px">
        <div class="btn-name">如果你在我身边</div>
        <div class="btn-singer">温岚</div>
      </div>
      <div class="audio">
        <audio controls="controls">
          <source src="./images/Firework.mp3" type="audio/mp3" />
        </audio>
      </div>
    </div>
  </footer>
</body>

</html>