<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MuSearcher</title>
	<link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/mv.css">
	<link rel="stylesheet" href="../stylesheets/star.css">
</head>

<body>
	<header>
		<div class="container">
			<div class="logo">
				<a class="logo-item" href="/">
					<h2>MuSearcher</h2>
				</a>
			</div>
			<div class="avatar">
				<div class="uploadtop" onclick="jumptoupload()"><p class="inupload">Upload songs</p></div>
				<a href="sign-in">
					<img class="avatar-img" src="../images/avatar-01.jpg">
				</a>
			</div>
		</div>
	</header>
	<div class="star" id="star">
		<ul class="star-ul">
		  <li class="star-li">
			<div class="star-li-left">
			  <img src="../images/china.png" class="star-img">
			  <span class="star-name">Song name</span>
			</div>
			<span class="star-artist">Singer</span>
		  </li>
		</ul>
	  </div>
	<section class="slider1">
		<header1>
			<div class="back" href="#">
				<a href="index.html"><img src="./imgs/返回.svg"></a>
			</div>
			<a class="name1" href="#">如果你在我身边</a>
			<a class="singer1" href="#">温岚</a>
		</header1>
		<div class="mv">
		    <video src="imgs/Katy Perry - Firework.mp4" controls="controls" style="width: 70%;height: auto;"></video>
		</div>
	</section>
</body>
</html>